{% load static %}
{% load blogTags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="icon" href="data:;base64,=">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin&amp;' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans%3Aregular%2Citalic%2C700%2C700italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Mystery+Quest%3Aregular&amp;subset=latin%2Clatin-ext&amp;' type='text/css' media='all' />



    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style-responsive.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style-custom.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/master-custom.css' %}" type='text/css' media='all' />

    <link rel='stylesheet' href="{% static 'plugins/superfish/css/superfish.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/dl-menu/component.css' type='text/css' %}" media='all' />
    <link rel='stylesheet' href="{% static 'plugins/font-awesome-new/css/font-awesome.min.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/elegant-font/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/flexslider/flexslider.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'plugins/masterslider/public/assets/css/masterslider.main.css' %}" type='text/css' media='all' />


<title>{% block title%} {% endblock title %}</title>
</head>
<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">


    {% include 'blog/nav.html' %}

    
        
        <div class="greennature-page-title-wrapper header-style-5-title-wrapper">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Nature's Narative</h1>
                <span class="greennature-page-caption">Relax, as we take a tour round the world!...</span>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="greennature-content">
                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <div class="with-sidebar-container container">
                        {% block content %}

                        {% endblock content%}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-wrapper">
            <div class="footer-container container">
                <div class="footer-column three columns" id="footer-widget-1">
                    <div id="text-5" class="widget widget_text greennature-item greennature-widget">
                        <div class="textwidget">
                            <p><img src="{% static 'upload/logo-light.png' %}" style="width: 170px;" alt="" /></p>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta. Etiam porta sem malesuada magna mollis euismod.</p>
                        </div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-2">
                    <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Contact Info</h3>
                        <div class="clear"></div>
                        <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span> Address: 184 Main Collins Street West Victoria 8007
          
                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
          
                            <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> +1800-222-3333
          
                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
          
                            <i class="greennature-icon fa fa-mobile" style="vertical-align: middle; color: #fff; font-size: 20px; "></i> +1833-232-3443
          
                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
          
                            <i class="greennature-icon fa fa-envelope-o" style="vertical-align: middle; color: #fff; font-size: 16px; "></i> contact@greennaturewp.com</div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-3">
                    <div id="gdlr-recent-post-widget-5" class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Recent Posts</h3>
                        <div class="clear"></div>
                        <div class="greennature-recent-post-widget">
                            <div class="recent-post-widget">
                                <div class="recent-post-widget-thumbnail">
                                    <a href="#"><img src="{% static 'upload/shutterstock_294481373-150x150.jpg' %}" alt="" width="150" height="150" /></a>
                                </div>
                                <div class="recent-post-widget-content">
                                    <div class="recent-post-widget-title"><a href="#">Sem Porta Mollis Parturi</a></div>
                                    <div class="recent-post-widget-info">
                                        <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="recent-post-widget">
                                <div class="recent-post-widget-thumbnail">
                                    <a href="#"><img src="{% static 'upload/shutterstock_181393724-150x150.jpg' %}" alt="" width="150" height="150" /></a>
                                </div>
                                <div class="recent-post-widget-content">
                                    <div class="recent-post-widget-title"><a href="#">Nullam Lorem Mattis Purus</a></div>
                                    <div class="recent-post-widget-info">
                                        <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="#">21 Mar 2014</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-4">
                    <div id="gdlr-recent-portfolio2-widget-6" class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">RSS Feeds</h3>
                        <div class="clear"></div>
                        <div class="greennature-recent-port2-widget">
                            <p>
                                <a href="{% url 'blog:postFeed' %}" class="btn greennature-button">Subscribe to my RSS feed</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
          
            <div class="copyright-wrapper">
                <div class="copyright-container container">
                    <div class="copyright-left">
                        <a href="http://facebook.com/goodlayers"><i class="greennature-icon fa fa-facebook" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="http://twitter.com/goodlayers"><i class="greennature-icon fa fa-twitter" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-dribbble" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-pinterest" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-google-plus" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-instagram" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a>
                    </div>
                    <div class="copyright-right">
                        Copyright 2023, All Right Reserved </div>
                    <div class="clear"></div>
                </div>
            </div>
          </footer>
          
    
        
   

    <script type='text/javascript' src="{% static 'js/jquery/jquery.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jquery/jquery-migrate.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/superfish/js/superfish.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/hoverIntent.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/dl-menu/modernizr.custom.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/dl-menu/jquery.dlmenu.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/jquery.easing.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/fancybox/helpers/jquery.fancybox-media.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/fancybox/helpers/jquery.fancybox-thumbs.js '%}"></script>
    <script type='text/javascript' src="{% static 'plugins/flexslider/jquery.flexslider.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/jquery.isotope.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/plugins.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/jquery.transit.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'plugins/gdlr-portfolio/gdlr-portfolio-script.js' %}"></script>
      
</body>
</html>
