{% extends 'blog/base.html' %}

{% block title %} Blogs {% endblock title %}

{% block content %}

    <h1> {{ post.title }} </h1>

    <P class="date">Published on {{ post.publish }} by {{ post.author }}</p>
        
    {{ post.body | safe | linebreaks }} 

    <p>
            <a href="{% url 'blog:sharePost' post.id %}">
                Share this post
            </a>
    </P>

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comments 
        </h2>

    {% endwith %}
    
    {% for comment in comments %}
        <div class="comment">
            <p>
                {{ comment.name }} ~  {{ comment.created}}
            </p>

            {{ comment.body | linebreaks }}
        </div>
    {% empty %}
        <p> There are no comments.</p> 
    {% endfor %}

    {% include "blog/post/includes/postCommentForm.html" %}
    
{% endblock content %}


    